<h1>Add a <s>manufactorour manufacturour manufactourer</s></h1>
<h1>CAR MAKE</h1>
<%= simple_form_for @make do |f| %>
  <%= f.input :name %>
  <%= f.input :country, as: :text %>
  <%= f.button :submit, "I knew to make this button to make it so you could make a make"  %>
<% end %>
